.line {
  width: 182px;
  height: 1px;
  background: var(--secondary-color);
}

.content {
  width: 50%;
  float: right;
  position: relative;
  top: 50%;
  margin-top: 14em;
}

.imgContainer {
  width: 50%;
  float: left;
}
