.underline {
  width: 182px;
  height: 2px;
  background-color: var(--secondary-color);
}

.square {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color);
}

.circle {
  width: 4px;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.header {
}

.container {
  border-color: var(--secondary-color);
  border-width: 2px;
  border-style: solid;
  border-left-color: var(--primary-color);
  border-right-color: var(--primary-color);
  height: 362px;
  width: 765px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
